<html class="loading" lang="en" data-textdirection="ltr" runat="server">
  <body class="vertical-layout vertical-menu 1-column  bg-cyan bg-lighten-2 menu-expanded blank-page blank-page" data-open="click" data-menu="vertical-menu" data-col="1-column" runat="server">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
      <form runat="server" id="loginForm">
        <div class="app-content content">
          <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body"><section class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-md-4 col-10 box-shadow-2 p-0">
                <div class="card border-grey border-lighten-3 m-0">
                    <div class="card-header border-0">
                        <div class="card-title text-center">
                            <div class="p-1"><img class="brand-logo" alt="stack admin logo" src="/assets/images/logo/ketemu.png"
                                style="max-height:50px; max-width:100px"></div>
                        </div>
                        <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Easily Using</span></h6>
                    </div>
                    <div class="card-content">
                        <div class="card-body pt-0 text-center">                            
                            <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>                            
                        </div>
                        <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2"><span>OR Using Account Details</span></p>
                        <div class="card-body pt-0">
                            <form class="form-horizontal" (ngSubmit)="onClickSubmit()" [formGroup]="loginForm">
                                <fieldset class="form-group floating-label-form-group">
                                    <label for="user-name">Your Username</label>
                                    <input class="form-control" id="userName" placeholder="Your Username" formControlName="username"/>
                                </fieldset>
                                <fieldset class="form-group floating-label-form-group mb-1">
                                    <label for="user-password">Enter Password</label>
                                    <input type="password" class="form-control" id="userPassword" placeholder="Enter Password" formControlName="password" />
                                </fieldset>
                                <div class="form-group row">
                                    <div class="col-md-6 col-12 text-center text-sm-left">
                                        <fieldset>
                                            <input type="checkbox" id="remember-me" class="chk-remember">
                                            <label for="remember-me"> Remember Me</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-12 float-sm-left text-center text-sm-right"><a href="recover-password.html" class="card-link">Forgot Password?</a></div>
                                </div>
                                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="showOverlay" id="lbLoginBtn">
                                    <i class="ft-unlock" *ngIf="!showOverlay"></i>
                                    <i class="fa fa-circle-o-notch fa-spin fa-fw" *ngIf="showOverlay"></i> 
                                    Login</button>
                            </form>
                        </div>
                        <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"><span>New to Stack ?</span></p>
                        <div class="card-body">
                            <a href="register" class="btn btn-outline-danger btn-block"><i class="ft-user"></i> Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

            </div>
          </div>
        </div>
        <!-- ////////////////////////////////////////////////////////////////////////////-->

        <script src="assets/vendors/js/vendors.min.js"></script>
        <script src="assets/vendors/js/forms/icheck/icheck.min.js"></script>
        <script src="assets/js/core/app-menu.js"></script>
        <script src="assets/js/core/app.js"></script>
        <script src="assets/js/scripts/forms/form-login-register.js"></script>
    </form>
  </body>
</html>